.icon-directions>a>.mi:before{
    content:"\e846";
}
.icon-paperplane2>a>.mi:before{
    content:"\e848";
}
.icon-megaphone2>a>.mi:before{
    content:"\e872";
}
.icon-leaf2>a>.mi:before{
    content:"\e875";
}
.icon-airplane2>a>.mi:before{
    content:"\e87d";
}
.icon-microphone>a>.mi:before{
    content:"\e881";
}
.icon-suitcase>a>.mi:before{
    content:"\e895";
}
.icon-dropbox>a>.mi:before{
    content:"\e95e";
}

