.icon-phone:before{
    content:"\e63c"
}
.icon-envelope:before{
    content:"\e640"
}
.icon-googleplus:before{
    content:"\e764"
}
.icon-facebook:before{
    content:"\e769"
}
.icon-twitter:before{
    content:"\e76d"
}
.icon-youtube:before{
    content:"\e773"
}
.icon-apple:before{
    content:"\e796"
}
.icon-directions:before{
    content:"\e846"
}
.icon-paperplane2:before{
    content:"\e848"
}
.icon-megaphone2:before{
    content:"\e872"
}
.icon-leaf2:before{
    content:"\e875"
}
.icon-airplane2:before{
    content:"\e87d"
}
.icon-microphone:before{
    content:"\e881"
}
.icon-suitcase:before{
    content:"\e895"
}
.icon-arrow-right9:before{
    content:"\e917"
}
.icon-dropbox:before{
    content:"\e95e"
}

